.container{
   margin-top: 4px;
   display: flex;
   align-items: center;
}
.button{
   margin-left: 8px;
   cursor: pointer;
}
.checkbox{
   margin-right: 12px;
}
.item{
   width: 20%;
}
.main_container{
   width: 100%;
}